# dependencies & caches
node_modules/
**/node_modules/
.pnpm/
**/.pnpm/
.pnpm-store/
**/.pnpm-store/
**/pnpm-debug.log*
**/.eslintcache

# builds
dist/
build/
coverage/
.vite/
**/.vite/
.next/
out/

# env
.env
**/.env
.env.*local

# editors/OS
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
.DS_Store
Thumbs.db

# docker
docker-data/
